@import "https://cdnjs.cloudflare.com/ajax/libs/normalize/4.1.1/normalize.min.css";
#off-canvas {
  position: fixed;
  top: -100vh;
  height: 100vh;
  -webkit-transition: top 0.3s ease;
  transition: top 0.3s ease;
  z-index: 1;
  margin-top: 6rem;
  max-width: 64rem;
}

#off-canvas:target {
  top: 0;
}

#off-canvas:target ~ .body-close {
  pointer-events: auto;
}

#off-canvas:target ~ #wrapper {
  bottom: -100vh;
}

#wrapper {
  position: relative;
  bottom: 0;
  -webkit-transition: bottom 0.3s ease;
  transition: bottom 0.3s ease;
}

html {
  background-color: white;
  background-image: url();
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: 32rem;
}

body {
  font: 1rem/1.66rem monospace;
  max-width: 64rem;
  margin: 6rem 0 0 6rem;
}

.section {
  margin-bottom: 2.4rem;
}

/**/
img {
  margin-right: 2em;
}

.left {
  float: left;
}

h1, h2 {
  text-transform: uppercase;
  border: 0.063em solid black;
  padding: 0.5rem 1rem;
  font-size: 1em;
}

h1 a, h2 a {
  color: black;
}

/**/
.inline {
  display: inline;
  line-height: 3em;
}

a {
  color: black;
}

.white {
  color: white;
}

ul, ol {
  list-style-type: none;
  display: inline;
  padding: 0;
  margin: 0;
}

li {
  display: inline;
  white-space: nowrap;
  line-height: 3em;
}

.tag {
  background: black;
  color: white;
  padding: 0.5rem 1rem;
  border: 0.063em solid black;
}

/**/
@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }

  p, h2, h3 {
    orphans: 3;
    widows: 3;
    /* http://css-tricks.com/almanac/properties/w/widows/ */
  }

  h2, h3 {
    page-break-after: avoid;
  }
}
/**/
@media (max-width: 568px) {
  body {
    max-width: 90vw;
    margin: 1em;
  }

  h1, h2, h3 {
    font-size: 1em;
    letter-spacing: -1px;
    line-height: 1em;
  }

  p {
    font-size: 1em;
    letter-spacing: 0;
    line-height: 3em;
  }

  html {
    background-size: contain;
  }
}
/* */
/**
 * CSS Modal
 * http://drublic.github.com/css-modal
 *
 * @author Hans Christian Reinl - @drublic
 */
/**
 * CSS Modal Configuration
 * http://drublic.github.com/css-modal
 *
 * @author Hans Christian Reinl - @drublic
 */
html {
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

.has-overlay {
  overflow: hidden;
  height: auto;
}

.has-overlay > body {
  height: 100%;
  overflow: hidden;
}

.modal--fade, .modal--show {
  -webkit-transform: translate(0, 100%);
  transform: translate(0, 100%);
  -webkit-transform: translate3d(0, 100%, 0);
  transform: translate3d(0, 100%, 0);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
  width: 0;
  height: 0;
  overflow: hidden;
  opacity: 0;
  display: none\9;
}

.modal--fade:target, .modal--show:target, .is-active.modal--fade, .is-active.modal--show {
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
  width: auto;
  height: auto;
  opacity: 1;
}

.is-active.modal--fade, .is-active.modal--show {
  display: block\9;
  height: 100% \9;
  width: 100% \9;
}

.modal--fade:target, .modal--show:target, .is-active.modal--fade, .is-active.modal--show {
  display: block\9;
}

.modal--fade .modal-inner, .modal--show .modal-inner {
  position: absolute;
  top: 60px;
  left: 50%;
  z-index: 20;
  margin-left: -325px;
  width: 650px;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
}

.modal--fade .modal-inner > img, .modal--show .modal-inner > img,
.modal--fade .modal-inner > video,
.modal--show .modal-inner > video,
.modal--fade .modal-inner > iframe,
.modal--show .modal-inner > iframe {
  width: 100%;
  height: auto;
  min-height: 300px;
}

.modal--fade .modal-inner > img, .modal--show .modal-inner > img {
  width: auto;
  max-width: 100%;
}

.modal--fade .modal-inner iframe, .modal--show .modal-inner iframe {
  display: block;
  width: 100%;
  border: 0;
}

.modal--fade .modal-content, .modal--show .modal-content {
  position: relative;
  max-height: 400px;
  max-height: 60vh;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

.modal--fade .modal-content > *, .modal--show .modal-content > * {
  max-width: 100%;
}

.modal--fade footer, .modal--show footer {
  border-top: 1px solid white;
  padding: 0 1.2em 18px;
  background: #f0f0f0;
  border-radius: 2px;
}

.modal--fade .modal-close, .modal--show .modal-close {
  display: block;
  height: 1px;
  clip: rect(0 0 0 0);
  margin: -1px;
  overflow: hidden;
}

.modal--fade .modal-close:focus:after, .modal--show .modal-close:focus:after {
  outline: 1px dotted;
  outline: -webkit-focus-ring-color auto 5px;
}

.modal--fade .modal-close:before, .modal--show .modal-close:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
}

.modal--fade .modal-close:after, .modal--show .modal-close:after {
  content: '\00d7';
  position: absolute;
  top: 35px;
  right: 50%;
  z-index: 20;
  margin-right: -325px;
}

@media screen and (max-width: 690px) {
  .modal--fade .modal-inner, .modal--show .modal-inner {
    width: auto;
    left: 20px;
    right: 20px;
    margin-left: 0;
  }

  .modal--fade .modal-close:after, .modal--show .modal-close:after {
    margin-right: 0 !important;
    right: 20px;
  }
}
@media screen and (max-width: 30em) {
  .modal--fade, .modal--show {
    -webkit-transform: translate(0, 400px);
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    -webkit-transition: opacity 1ms .3s;
    transition: opacity 1ms .3s;
    display: block;
    right: auto;
    bottom: auto;
  }

  .modal--fade:target, .modal--show:target, .is-active.modal--fade, .is-active.modal--show {
    width: 100%;
    height: 100%;
  }

  .modal--fade:target .modal-close, .modal--show:target .modal-close, .is-active.modal--fade .modal-close, .is-active.modal--show .modal-close {
    display: block;
  }

  .modal--fade .modal-inner, .modal--show .modal-inner {
    box-sizing: border-box;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    overflow: auto;
  }

  .modal--fade .modal-content, .modal--show .modal-content {
    max-height: none;
    -ms-word-break: break-all;
    word-break: break-all;
    word-break: break-word;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
        hyphens: auto;
  }

  .modal--fade .modal-close, .modal--show .modal-close {
    display: none;
    right: auto;
  }

  .modal--fade .modal-close:before, .modal--show .modal-close:before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 20;
  }

  .modal--fade .modal-close:after, .modal--show .modal-close:after {
    top: 5px !important;
    right: 5px;
    left: auto;
    margin-left: 0;
  }
}
@media screen and (max-height: 46em) and (min-width: 30em) {
  .modal--fade .modal-content, .modal--show .modal-content {
    max-height: 340px;
    max-height: 50vh;
  }
}
@media screen and (max-height: 36em) and (min-width: 30em) {
  .modal--fade .modal-content, .modal--show .modal-content {
    max-height: 265px;
    max-height: 40vh;
  }
}
.is-stacked.modal--fade, .is-stacked.modal--show {
  -webkit-transform: translate(0, 0) scale(1, 1);
  transform: translate(0, 0) scale(1, 1);
  opacity: 1;
}

.is-stacked.modal--fade .modal-inner, .is-stacked.modal--show .modal-inner {
  -webkit-animation: scaleDown .7s ease both;
  animation: scaleDown .7s ease both;
}

.is-stacked.modal--fade .modal-close, .is-stacked.modal--show .modal-close {
  opacity: 0;
}

@media screen and (max-width: 30em) {
  .is-stacked.modal--fade, .is-stacked.modal--show {
    -webkit-animation: scaleDown .7s ease both;
    animation: scaleDown .7s ease both;
  }

  .is-stacked.modal--fade .modal-inner, .is-stacked.modal--show .modal-inner {
    -webkit-animation: none;
    animation: none;
  }

  .is-stacked.modal--fade .modal-close, .is-stacked.modal--show .modal-close {
    opacity: 1;
  }
}
/**
 * All animations for CSS Modal
 *
 * Available:
 * - %modal--transition-fade (fade)
 * - %modal--transition-zoomIn (zooms in)
 * - %modal--transition-plainScreen (hides background)
 *
 * Usage:
 *
 * .selector {
 * 		@extend %modal--transition-fade;
 * }
 *
 */
@media screen and (min-width: 30em) {
  .modal--fade {
    -webkit-transition: opacity 0.3s;
    transition: opacity 0.3s;
  }
}
/**
 * CSS Modal Themes
 * http://drublic.github.com/css-modal
 *
 * @author Hans Christian Reinl - @drublic
 */
/*
 * Global Theme Styles
 */
.modal--fade, .modal--show {
  color: #222;
  line-height: 1.3;
}

.modal--fade .modal-inner, .modal--show .modal-inner {
  border-radius: 2px;
  background: #fff;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.6);
  max-width: 100%;
  -webkit-transition: max-width 0.3s linear, margin-left 0.3s linear;
  transition: max-width 0.3s linear, margin-left 0.3s linear;
}

.modal--fade header, .modal--show header {
  border-bottom: 1px solid #ddd;
  padding: 0 1.2em;
}

.modal--fade header > h2, .modal--show header > h2 {
  margin: 0.5em 0;
}

.modal--fade .modal-content, .modal--show .modal-content {
  border-bottom: 1px solid #ddd;
  padding: 15px 1.2em;
}

.modal--fade footer, .modal--show footer {
  border-top: 1px solid white;
  padding: 0 1.2em 18px;
  background: #f0f0f0;
  border-radius: 2px;
}

.modal--fade .modal-close, .modal--show .modal-close {
  text-indent: -100px;
}

.modal--fade .modal-close:before, .modal--show .modal-close:before {
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAQAAAC1+jfqAAAAEUlEQVQoz2NgeEYAjioYSQoAzOTmAXhPhyoAAAAASUVORK5CYII=");
}

.modal--fade .modal-close:after, .modal--show .modal-close:after {
  content: '\00d7';
  background: #fff;
  border-radius: 2px;
  padding: 2px 8px;
  font-size: 1.2em;
  text-decoration: none;
  text-indent: 0;
}

@media screen and (max-width: 30em) {
  .modal--fade .modal-close:before, .modal--show .modal-close:before {
    background: #27aae2;
    height: 3em;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
  }

  .modal--fade .modal-inner, .modal--show .modal-inner {
    padding-top: 3em;
    box-shadow: none;
  }

  .modal--fade .modal-close, .modal--show .modal-close {
    text-decoration: none;
  }

  .modal--fade .modal-close:after, .modal--show .modal-close:after {
    content: attr(data-close);
    font-size: 1em;
    padding: 0.5em 1em;
  }
}
/*
 * Plain Screen Theme Styles
 */
/**
 * Apply the desired modal behavior to your container selector
 */
/**
 * CSS Modal Plugin: Stretch height
 */
/**
 * CSS Modal Configuration
 * http://drublic.github.com/css-modal
 *
 * @author Hans Christian Reinl - @drublic
 */
[data-cssmodal-stretch] .modal-inner {
  top: 10%;
  min-height: 80%;
}

[data-cssmodal-stretch] .modal-content {
  max-height: none !important;
}

[data-cssmodal-stretch] .modal-close:after {
  top: 10%;
  margin-top: -25px;
}

@media screen and (max-width: 30em) {
  [data-cssmodal-stretch] .modal-inner {
    top: 0;
  }

  [data-cssmodal-stretch] .modal-close:after {
    margin-top: 0;
  }
}
/**
 * Custom maximum width for a modal
 *
 * Usage: Set `data-cssmodal-maxwidth` with a pixel-based max-width as a value.
 */
/**
 * CSS Modal Configuration
 * http://drublic.github.com/css-modal
 *
 * @author Hans Christian Reinl - @drublic
 */
[data-cssmodal-maxwidth] .modal-inner {
  width: 100%;
}

@media screen and (max-width: 690px) {
  [data-cssmodal-maxwidth] .modal-inner {
    left: 50%;
  }

  [data-cssmodal-maxwidth] .modal-close:after {
    right: 50% !important;
  }
}
@media screen and (max-width: 30em) {
  [data-cssmodal-maxwidth] .modal-inner {
    max-width: 100% !important;
    margin-left: 0 !important;
  }

  [data-cssmodal-maxwidth] .modal-close:after {
    margin-right: 0 !important;
    right: 0 !important;
  }
}
